@import "./common.scss";
@include b('404') {
padding-top: 182px;
display: flex;
flex-direction: column;
justify-content: center;
 @include e(img) {
  width: 1184px;
  height: 632px;
  margin: 0 auto;
  margin-bottom: 145px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 }
}
