@import "./common.scss";
@include b(about) {
  @include e(banner) {
    z-index: -1;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @include m(decorate) {
      width: 100%;
      height: 79px;
      position: absolute;
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  @include e(about) {
    margin-top: 62px;
    .title {
      width: 301px;
      height: 92px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
    }
  }
  @include e(images) {
    position: relative;
    height: 862px;
    margin-bottom: 213px;
    .gray-block1 {
      width: 68px;
      height: 68px;
      background: #EEEEEE;
      position: absolute;
      left: 34px;
      top: 694px;
    }
    .gray-block2 {
      position: absolute;
      right: 29px;
      top: 574px;
      width: 41px;
      height: 41px;
      background: #EEEEEE;
    }
    .gray-block3 {
      position: absolute;
      right: 87px;
      top: 100px;
      width: 55px;
      height: 55px;
      background: #EEEEEE;
    }
    .img-box {
      position: absolute;
    }
    span {
      position: absolute;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .img1 {
      top: 245px;
      left: 111px;
      width: 112px;
      height: 112px;
      background-color: yellow;
    }
    .img2 {
      top: 461px;
      left: 111px;
      width: 255px;
      height: 255px;
      background-color: blue;
      z-index: 2;
    }
    .img3 {
      top: 126px;
      left: 287px;
      width: 392px;
      height: 392px;
      background-color: gray;
      z-index: 1;
    }
    .img4 {
      top: 285px;
      left: 641px;
      width: 144px;
      height: 144px;
      background: #FF9900;
      opacity: 0.6;
      z-index: 5;
    }
    .img5 {
      top: 29px;
      left: 719px;
      width: 97px;
      height: 97px;
      background: #FEF5C4;
    }  
    .img6 {
      top: 588px;
      left: 503px;
      width: 69px;
      height: 69px;
      background: #FEF5C4;
    }  
    .img7 {
      top: 716px;
      left: 609px;
      width: 175px;
      height: 175px;
      z-index: 4;
    } 
    .img8 {
      top: 322px;
      left: 735px;
      width: 426px;
      height: 426px;
      background: pink;
      z-index: 3;
    }
    .img9 {
      top: 157px;
      left: 812px;
      width: 255px;
      height: 255px;
      background: yellow;
      z-index: 2;
    }
    .bg {
      position: absolute;
      top: rem(123);
      width: 100%;
      height: 351px;
      z-index: 100000;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
