@import "./common.scss";
@include b(policy) {
  @include e(banner) {
    z-index: -1;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @include m(decorate) {
      width: 100%;
      height: 79px;
      position: absolute;
      bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  @include e(about) {
    margin: 40px auto;
    .title {
      width: 301px;
      height: 92px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
    }
  }
}
